.presentacion{
    margin: 4rem;
}

.pretitulo{
font-family: 'Lora', serif;
margin-bottom: 1.5rem;
}
.nombre{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    // margin-bottom: 1.5rem;
}
.titulo{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1rem;
    
}

.descripcion{
font-family: 'Lora', serif;
margin-top: 2rem;
}